---
layout: default
class: home
title: Kitchen Fitting | Carprenty | Building Services | KCS
---
<section class="hero layout layout--flush">
  <div class="layout__item u-1/2-lap-and-up">
    <div class="hero__content desk-p++ lap-p+ palm-p">
      <h1 class="hero__title">Welcome to KCS</h1>
      <p>We are a specialist kitchen and carpentry company that deal with many residential and commercial projects all over the Kent area. We also offer construction and home improvement services.</p>
      <p class="lap-mb0"><a href="/contact-us" class="">Read more about KCS ></a></p>
    </div>
  </div><!--
--><div class="layout__item u-1/2-lap-and-up">
    <div class="hero__image" style="background-image: url('/images/IMG-20160901-WA0013.jpg');">
    </div>
  </div>
</section>

<section class="desk-p++ lap-p+ palm-p">
  {% include recent-work.html %}
</section>

{% include testimonial.html %}
{% include checkatrade.html %}
