---
layout: default
class: home
title: Kitchen Fitting | Carprenty | Building Services | KCS
---

<section class="hero layout layout--flush">
  <div class="layout__item u-1/2-lap-and-up">
    <div class="hero__content desk-p++ lap-p+ palm-p">
      <h1 class="hero__title">Kitchen Carpentry Specialists</h1>
      <p>We are a specialist kitchen and carpentry company that deal with many residential and commercial projects all over the Kent area. We also offer construction and home improvement services.</p>
      <p class="lap-mb0">
        <a class="btn btn--pill" href="/about" class="">Read more about KCS</a>
      </p>
    </div>
  </div><!--
--><div class="slider layout__item u-1/2-lap-and-up">
    <div class="frame js_frame">
        <ul class="slides js_slides list-bare">
            <li class="js_slide">
              <div class="hero__image" style="background-image: url('/images/IMG-20160901-WA0013.jpg');"></div>
            </li>
            <li class="js_slide">
              <div class="hero__image" style="background-image: url('/images/IMG-20160901-WA0013.jpg');"></div>
            </li>

        </ul>
    </div>

  </div>
</section>

<section class="layout layout--huge desk-ph++ lap-ph+ palm-ph desk-mv++ lap-pv+ palm-pv center">
  <div class="layout__item u-1/4-lap-and-up">
    <div class="block palm-mb lap-mb+">
      <svg class="icon icon--large block__img">
        <use xlink:href="#icon-bubbles2"></use>
      </svg>
      <div class="block__body">
        <strong>Testimonials</strong>
        <p>We've got lots of great testimonials from our happy customers</p>
      </div>
    </div>
  </div><!--
--><div class="layout__item u-1/4-lap-and-up">
<div class="block palm-mb lap-mb+">
  <svg class="icon icon--large block__img">
    <use xlink:href="#icon-paste"></use>
  </svg>
  <div class="block__body">
    <strong>Insurance backed</strong>
    <p>Up to £2,000,000 public liability insurance for you complete peace of mind.</p>
  </div>
</div>  </div><!--
--><div class="layout__item u-1/4-lap-and-up">
<div class="block palm-mb lap-mb+">
  <svg class="icon icon--large block__img">
    <use xlink:href="#icon-wrench"></use>
  </svg>
  <div class="block__body">
    <strong>Experienced</strong>
    <p>We have over 30 years experience in the building trade and only use qualified and experience tradespeople.</p>
  </div>
</div>  </div><!--
--><div class="layout__item u-1/4-lap-and-up">
<div class="block palm-mb lap-mb+">
  <svg class="icon icon--large block__img">
    <use xlink:href="#icon-checkmark"></use>
  </svg>
  <div class="block__body">
    <strong>Services</strong>
    <p>We offer a complete range of services including kitchen fitting and house refurbishments.</p>
  </div>
</div>
</div>
</section>

{% include testimonial.html %}

<section class="desk-ph++ lap-ph+ palm-ph desk-mv++ lap-pv+ palm-pv">
  {% include recent-work-horizontal.html %}
</section>

{% include checkatrade.html %}
