<section class="desk-p++ lap-p+ palm-p">
  <header>
    <h4>
      Find us on...
    </h4>
  </header>

  <div class="layout layout__large">
    <div class="layout__item u-1/2-palm u-1/2-lap-and-up">
      <a      href="https://www.mybuilder.com/profile/view/kitchen_n_carpentry_specialists">
        <img src="/images/my-builder.png" alt="My Builder logo" title="See KCS 100% positive feedback on My Builder" />
      </a>
    </div><!--
  --><div class="layout__item u-1/2-palm u-1/2-lap-and-up">
        <a href="http://www.ratedpeople.com/profile/kitchen-carpentry-specialist/index">
          <img src="/images/RatedPeopleMember.png" alt="Rated People logo" title="See the KCS RatedPeople profile page">
        </a>
    </div>
  </div>
</section>
