<footer class="desk-ph++ desk-pv+ lap-ph+ lap-pv palm-p">
  <ul class="list-inline list-inline--delimited">
    <li>
      &copy;{{ site.title }} 2016
    </li>
    <li>
      <svg class="icon icon-phone">
        <use xlink:href="#icon-phone"></use>
      </svg>
      <a class="" href="tel:07890651886">
        07890 651886
      </a>
    </li>
    <li>
      <svg class="icon icon-mail2">
        <use xlink:href="#icon-mail2"></use>
      </svg>
      <a class="" href="mailto:ross@kcs.services">
        ross@kcs.services
      </a>
    </li>
  </ul>
</footer>
