<div class="block block--flush palm-mb">
  <img class="block__img" src="{{ post.image }}" alt="{{ post.title }}" title="Read more: {{ post.title }}" />
  <div class="block__content">
    <h4 class="palm-mv- lap-and-up-mv-">
      {{ post.title | escape }}
    </h4>
    <ul class="list-inline list-inline--delimited">
      <li>
        <a class="small" href="#">{{ post.categories }}</a>
      </li>
      <li>
        <span class="small">
          {{ post.date | date: "%b %-d, %Y" }}
        </span>
      </li>
    </ul>
    <p>
      {{ post.excerpt }}
    </p>
    <p>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
    </p>
  </div>
</div>
