/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    text-decoration: none;
    color: $color-highlight;

    @include attention() {
        text-decoration: underline;
    }
}

.sidebar__link {
  display:block;
  text-decoration:none;
  color: $color-gray;

}
