/*------------------------------------*\
    #TYPE
\*------------------------------------*/
/**
 * Typographical base selectors.
 */
/**
 * Headings 1–6.
 */
@include headings() {
  //font-weight: 400;
  //letter-spacing: -1px;
  //letter-spacing: -.0625rem;
  color: $color-black;
}

blockquote {
  font-style: italic;
  padding: 0.809em 2.427em;
  margin-left: 0;
  border-left: 4px solid $color-gray;
  color: $color-black;
}

figcaption {
  @include inuit-font-size(12px,1rem);
  padding: $inuit-base-spacing-unit--small 0;
}

.tagline {
  background-color: #fff;
  padding: $inuit-base-spacing-unit--small;
}
.green {
  color: $color-green;
}
.purple {
  color: $color-purple;
}
.white {
  color: $color-white;
}
.heading {}

strong {
  color: $color-black;
}

.post-header {
  border-bottom: 1px solid lighten($color-gray-light,10%);
}

.right {
  float:right;
}

.center {
  text-align: center;
}

label {
  font-weight: 700;
}

input, textarea, select{
  border: 1px solid $color-black;
  padding: $inuit-base-spacing-unit--small;
  margin-bottom: $inuit-base-spacing-unit;
  width: 100%;

}
