
.btn--menu {
  background: none;
  border: none;
  color:transparent;
  padding: 6px 12px;
  @include attention() {
    background-color: none;
    border-color: transparent;
    color: transparent;
  }
}

.btn--contact {
  color: $color-gray-light;
  background-color: $color-black;
  text-transform: uppercase;
  @include attention() {
    background-color: $color-gray-light;
    border-color: transparent;
    color: $color-black;
  }


}
