 /*------------------------------------*\
    #SITE-NAV
\*------------------------------------*/
.logo {

}

.logo__image {
  height: 48px;

  @include media-query(lap) {
  }

  @include media-query(desk) {
  }
}

.header {
	/* background: #f5f5f5; */
	/* background: -moz-linear-gradient(top,#fafafa,#f5f5f5); */
	/* background: -webkit-linear-gradient(top,#fafafa,#f5f5f5); */
  /*border-bottom: 1px solid #eee;*/

  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
	background: linear-gradient(#fafafa,#f5f5f5);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);

}

header nav {

  display:none;

  margin-top: 24px;

  @include media-query(lap-and-up) {
    float:right;
    display:block;
    margin-top: inherit;
  }

}

.site-nav__link {

  text-transform: uppercase;
  text-decoration: none;
  display:block;
  padding: $inuit-base-spacing-unit--small $inuit-base-spacing-unit--small 9px $inuit-base-spacing-unit--small;

  vertical-align: middle;

  //color: $color-black;


  @include media-query(desk) {

  }
  @include media-query(lap-and-up) {

    border-bottom:3px solid transparent;

    &:hover, &:active,  {
      text-decoration: none;
      border-bottom:3px solid $color-brand;
    }

  }


  @include media-query(lap-and-up) {
    display: inline-block;
  }

}

@include media-query(lap-and-up) {
  .about nav .about, .services nav .services, .portfolio nav .portfolio {
    text-decoration: none;
    border-bottom:3px solid $color-brand;
  }
}

.menu-toggle {
  float: right;
  background: transparent;
  transition: margin 0.3s ease;
  @include media-query(lap-and-up) {
    display: none;
  }
}
.menu-toggle--open {
  margin-right: -$inuit-base-spacing-unit--small;
}
.menu-toggle__button {
  position: relative;
  background-color: transparent;
  background-image: none;
  border: none;
  padding: $inuit-base-spacing-unit--tiny;
}
.menu-toggle__icon--bar {
  background-color: $color-brand;
  display: block;
  width: 24px;
  height: 3px;
  border-radius: $base-round
}
.menu-toggle__icon--bar + .menu-toggle__icon--bar {
  margin-top: 4px;
}
