.hero {

  /* Mobile first...*/

  @include media-query(lap-and-up) {
    display: flex;
    height: 60vh;
    flex-direction: row;

  }



}

.hero__image {
  background-size:cover;
  height: 300px;
  background-position: center;

  @include media-query(lap-and-up) {
    width: 50%;
    height: 100%;
  }
}

.hero__content {

  // @include inuit-font-size(24px);
  @include media-query(lap-and-up) {
    width: 50%;
    align-items: center;
  }
}

.hero__title {
  color: $color-white;
  font-weight: 700;
  margin:0;
  @include media-query(palm) {
    @include inuit-font-size(24px);
  }
}
