/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

html {

}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: $color-white;

    @include media-query(desk) {
      //padding: $inuit-base-spacing-unit;
    }
}
